ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(44, 44, 28);
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: rgb(255, 251, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: rgb(255, 217, 0);
}
  
.active {
    background-color: #e7f700;
}

a:link {
    background-color: rgb(44, 44, 37);
}

aside {
    float: right;
    width: 50%;
    text-align: center;
}

article {
    text-align: center;
    width: 50%;
}

p {
    text-align: center;
    font-size: 18px;
}

label {
    width: 90%;
    align-self: center;
}

img {
    height: 200px;
    width: 300px;
}
section {
    text-align: center;
}
