.navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-link1 {
    position: fixed;
    left: 20%;
    z-index: 0;
}
a:link {
    color: rgb(238, 6, 6);
}
.fireimg {
    width: 45%;
}
aside {
    float: right;
    max-width: 50%;
    text-align: center;
}
.fire_text {
    position: fixed;
    left: 50%;
    color: rgb(172, 3, 3);
    font-size: large;
    font-family: 'oblique';
}
footer {
    text-align: center;
    background-color: brown;
}
.gandalf {
    width: 100%;
    border-radius: 19px;
    display: none;
}
.trukstext {
    display: none;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}
.h5style {
    text-align: center;
}