body {
    background-color:#ffb45f;
}
h1 {
    color:#3c3c3c;
    text-align: center;
}
div.peli {
    height: 50%;
    width: 50%;
    background-color: black;
}
table {
    border: 1px solid #715;
    border-spacing: 0px;
}
th {
    text-align: center;
}
td {
    width: 400px;
    height: 80px;
    border: 2px #261f1e;
    text-align: center;
}
.seina {
    background-color: #261f1e;
}
.hahmo{
    background-image: url("SeniiliMario\ \(2\).jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.button {
    padding: 0.5em 1em;
    background-color: #3c3c3c;
}