.borderia {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: rgb(231, 48, 48);
    /*float: right*/
}
.borderai {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: rgb(29, 249, 65);
}