#box1 {
    position: fixed;
    left: 5%;
    top: 7%;
    z-index: 0;
    width: 15%;
}
#box2 {
    position: fixed;
    left: 22%;
    top: 7%;
    z-index: 0;
    width: 15%;
}
#box3 {
    position: fixed;
    left: 39%;
    top: 7%;
    z-index: 0;
    width: 15%;
}
#box4 {
    position: fixed;
    left: 56%;
    top: 7%;
    z-index: 0;
    width: 15%;
}
#box5 {
    position: fixed;
    left: 73%;
    top: 7%;
    z-index: 0;
    width: 15%;
}
#box6 {
    position: fixed;
    left: 5%;
    top: 10%;
    z-index: 0;
    width: 15%;
    height: 30%;
}
#box7 {
    position: fixed;
    left: 20%;
    top: 10%;
    z-index: 0;
    width: 20%;
    height: 30%;
}
#box8 {
    position: fixed;
    left: 40%;
    top: 10%;
    z-index: 0;
    width: 20%;
    height: 30%;
}
#box9 {
    position: fixed;
    left: 60%;
    top: 10%;
    z-index: 0;
    width: 13%;
    height: 30%;
}
#box10 {
    position: fixed;
    left: 73%;
    top: 10%;
    z-index: 0;
    width: 15%;
    height: 30%;
}
#box1, #box2, #box3, #box4, #box5 {
    background-color: aquamarine;
}
#box6, #box7, #box8, #box9, #box10 {
    background-color: rgb(255, 178, 127);
    border: 1px solid brown;
}