h1 {
    font-family: 'Lucida Sans Regular';
}
img {
    width: 100%;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
.container {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
}
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}